<h2>Profile</h2>
<% if current_user != nil%>

    <% if current_user.king_kong? %>
        <h3>Welcome King Kong</h3>
            <% elsif current_user.admin? %>
            <h3>Welcome, Admin</h3>
        <% else %>
        <h3>Welcome</h3>
      <% end %>

 
    <p><%= image_tag @user.avatar.url(:thumb) %></p>
	     <p> Nick Name : <%= @user.nick_name%></p>
    <p> Email: <%= @user.email%> </p>

      <section class="stats">
         <%= render 'stats' %>
      </section>
	<!-- ============== -->

<% provide(:title, @user.first_name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
         <%= @user.first_name %>
         <% if @user.posts.any? %>
          <p>posts (<%= @user.posts.count %>)</p>
         </h1>
       </section>
      </aside>
     <% end %>
  </div>
 
 <!--if for access level for king_kong  -->
<% if current_user.king_kong? or current_user.admin?%>
  <%= link_to "Edit User", edit_user_path(@user)%></br>
<%end%>


 <% if current_user.id == @user.id %>
    <%= link_to "Edit User", edit_user_path(current_user)%></br>
      <% else %>

<!-- follow unfollow button  -->

  <div id="follow_form">
    <% if current_user.following?(@user) %>
      <%= render 'unfollow' %>
        <% else %>
      <%= render 'follow' %>
    <% end %>
  </div>
  </br>
<%= link_to "Sign in", login_path%>
  <% end %>
 

  <%else%>
  <p>sign in</p>
    <%end%>