<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
    		 <h1><%= @user.first_name %></h1>
     		 		<span><%= link_to "view my profile", @user %></span>
   				 <span><b>posts:</b> <%= @user.posts.count %></span>
          <div class="user_avatars">
        <p><%= image_tag @user.avatar.url(:thumb) %></p>
  	  </div>
    </section>

    <section class="stats">
    	  <%= render 'stats' %>
    		  <% if @users.any? %>
    	 		 <% end %>
   		 </section>
  	</aside>

  <div class="col-md-8">

    <h1><%= @title %></h1>
    <% if @users.any? %>
      <ul class="users follow">
      	<%= @users.each do |n|%>
         <p><%= image_tag n.avatar.url(:thumb) %></p>
	     	   <span><%= link_to "view my profile", n %></span>

      	   <p>First Name: <%= n.first_name %></p>
      	 <p>Posts: <%= n.posts.count %></p>
	       <% end %>
  	   </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>