<h1>Home page</h1>

 <% if current_user != nil %></br>
	<h2>Hello </h2>
		<% if current_user.following.count >= 1 %>
					<% current_user.following.each do |follow| %>
							<!-- NickName: <%=follow.nick_name %></br>
							Email:<%=follow.email %></br> -->
							<%  follow.posts.each do |last| %>
    			<p><%= image_tag last.avatar.url(:thumb) %></p></br>
    			<p><%= last.user.email%>
  			<p><%= last.discarption %></p></br>

			<% end %>
	<% end %>
<%end%>
	<% else %>
<p> You must sign in </p>
 	<% end %>
 


